<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
    </thead>
    <tbody>
       @for(pupil of pupils; track pupil){
        <tr>
          <td>{{pupil.id}}</td>
          <td>{{pupil.name}}</td> 
          <td>{{pupil.age}}</td> 
        </tr>      
       }
       @empty {
        <tr>
            <td colspan="3">empty list!</td>
        </tr>
       }

    </tbody>
</table>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum officia nulla dignissimos dolore! Quis dolores quam explicabo totam labore vero modi ipsam porro numquam aut. Numquam commodi perspiciatis quas expedita.</p>
<p>Consequatur, illum. Ut asperiores minus libero vero molestiae illo at maxime dolor perspiciatis alias? Fuga quod consectetur ipsum alias voluptatibus illo repellendus, numquam deserunt officia reprehenderit mollitia qui iusto architecto.</p>
<p>Voluptatem in fugiat distinctio dolorum minima quaerat, architecto earum pariatur ipsum quod vel omnis error laborum. Ex, ducimus laudantium, quaerat, fugit cum temporibus quam deserunt voluptatibus mollitia molestiae natus beatae.</p>
<p>Iste expedita praesentium hic assumenda consequatur dolores autem sequi doloribus, tenetur dolorem ratione rem, ipsa nostrum placeat molestiae sunt. Repellendus animi commodi rem! Sint quas, illo libero placeat laudantium quo?</p>
<p>Eveniet voluptates libero aut quidem neque pariatur inventore nulla quasi. Commodi esse provident praesentium reprehenderit nihil explicabo est tempore voluptatem, dignissimos necessitatibus, quod quibusdam cumque laborum. Assumenda suscipit nemo earum?</p>
<p>Dicta ullam non ex quia repellendus autem facilis id labore quas veritatis est veniam, voluptatum voluptates neque repudiandae natus sunt voluptas perferendis officia doloribus quibusdam? Expedita hic neque obcaecati porro.</p>
<p>Numquam placeat aperiam similique excepturi facere quod quibusdam aut officiis delectus nulla ipsam laboriosam ab saepe error, fuga, ea soluta fugit molestias doloribus. Sed praesentium eaque ducimus fuga perspiciatis corporis?</p>
<p>Quibusdam sint impedit error aperiam deleniti fugit hic delectus debitis, sed quae rem reprehenderit libero, quo id dolores officiis eius architecto soluta porro necessitatibus labore fuga molestias, et exercitationem! Cum?</p>
<p>Molestias numquam similique nesciunt, optio maxime cupiditate dolorem voluptates tempore ab veritatis veniam nihil, facilis consequatur beatae hic, praesentium necessitatibus unde quibusdam dolore perspiciatis adipisci soluta rerum aspernatur? Deserunt, dolorem?</p>
<p>Soluta rem eaque odio blanditiis temporibus aperiam consectetur incidunt molestiae. Sint, placeat fuga veritatis tempore laborum pariatur reiciendis harum dolore vel vitae dicta? Labore eius placeat doloremque tenetur. Minima, odio?</p>
<p>Nobis hic, mollitia necessitatibus distinctio autem fuga impedit architecto repudiandae quod vero nisi, cum reprehenderit facere praesentium numquam consequuntur voluptates voluptate? Ex blanditiis, odio libero excepturi labore placeat totam nemo.</p>
<p>Perspiciatis dolorem blanditiis iusto nostrum libero molestias nisi doloremque porro repellat iure rem, incidunt, illum excepturi fuga, neque vitae. Dolore mollitia cum qui magnam, recusandae officia placeat nesciunt officiis ipsa!</p>
<p>Possimus sapiente et doloribus repudiandae quam deserunt minus, natus, magni quos labore assumenda velit, provident molestias quia omnis quibusdam sint commodi doloremque eum cumque corrupti? Cupiditate sequi sapiente in quisquam.</p>
<p>Nemo, quibusdam quae modi eum eligendi ullam voluptate dicta vel, quis illum fuga asperiores alias! Optio aliquid velit, assumenda dolore cupiditate repudiandae doloribus sequi sit iure animi cumque praesentium facilis.</p>
<p>Error autem consequatur, soluta quos vero odit, enim quis doloremque illum quo rem quasi eligendi. Adipisci est voluptates nostrum neque magnam nemo corrupti, id, quibusdam eaque, amet soluta nulla eveniet.</p>
<p>Ab cumque voluptate ducimus fugiat, veniam tempore facilis consequuntur maiores, ratione excepturi, delectus aspernatur nobis voluptatem totam natus. Consequuntur, nihil! Aliquam molestias impedit repellendus aliquid sed eaque voluptate inventore a?</p>
<p>Accusantium amet, ipsum neque dolores reprehenderit laboriosam temporibus quidem iste itaque explicabo, voluptatibus inventore perspiciatis! Perspiciatis exercitationem eligendi, laboriosam asperiores adipisci assumenda cum, quos explicabo, eveniet corporis nisi fuga maiores!</p>
<p>Nulla dolor fuga deleniti iure, blanditiis alias saepe harum dignissimos, minus ipsam, cum dolores laborum odio dolore soluta dicta facilis. Perspiciatis tenetur vero dolorem quod accusamus, beatae delectus voluptatibus modi.</p>
<p>Nulla iure aperiam pariatur nobis laborum! Consectetur, expedita! Tenetur ea illum tempore numquam libero error maiores aperiam ex iste commodi, in corrupti, laudantium sed laboriosam consectetur non aspernatur, pariatur similique?</p>
<p>Nemo quaerat distinctio, necessitatibus tempore praesentium beatae inventore dicta ipsa vel quae ipsum itaque, repellat asperiores hic consectetur doloremque? Recusandae voluptate incidunt tempore, in repellendus eum maxime velit quis officiis.</p>
<p>Magni quaerat distinctio, enim pariatur nulla accusantium quam deserunt suscipit consectetur inventore beatae nam ipsam reiciendis architecto error sequi dolorem, laboriosam alias qui. Ullam suscipit perspiciatis quam eligendi non atque?</p>
<p>Quidem voluptatibus voluptates reprehenderit quaerat inventore quos, sed molestias, repellendus quod reiciendis hic earum doloremque cupiditate vero minima obcaecati culpa optio quia consequatur quam! Repudiandae placeat ratione suscipit rerum culpa.</p>
<p>Saepe accusantium animi sunt facilis atque non similique, et perspiciatis veritatis ipsam esse dolorem sapiente. Minima sit enim laboriosam dolor, iusto nemo aspernatur nam harum nihil. Natus perspiciatis tempora ab?</p>
<p>Velit ad obcaecati quibusdam dolor repellat sed excepturi numquam, blanditiis maxime dolorem adipisci magnam perferendis pariatur quos veniam doloremque, ab vel nemo eum laudantium. Sint, excepturi dolor. Assumenda, numquam reiciendis.</p>
<p>Earum modi exercitationem facilis rerum dolorum magni veniam vitae recusandae similique porro excepturi amet repudiandae, explicabo suscipit id culpa illo perferendis fugit, accusamus ipsum tempore reprehenderit. Numquam itaque vero rerum?</p>
<p>Modi dolore tempora, alias nulla ducimus architecto assumenda error fuga voluptate incidunt asperiores animi saepe nemo velit quam facilis, ea facere cupiditate harum reiciendis magni! Eligendi saepe eum officiis doloremque?</p>
<p>Animi facilis nemo labore sit rerum minima, enim minus neque vel debitis, ea repellat. Iste tenetur asperiores exercitationem quia. Eaque laboriosam, aspernatur nihil delectus eos expedita sed eligendi modi nostrum.</p>
<p>Nemo autem rem quae cupiditate soluta error enim sint sit accusamus aut quisquam quos at, saepe tempora facere perspiciatis, recusandae inventore ab, suscipit nobis. Quos omnis culpa magnam eum qui?</p>
<p>Non quis nulla mollitia? Necessitatibus cupiditate mollitia natus veritatis velit nemo maxime fugiat. Numquam qui minus doloribus eum, modi sapiente consequuntur suscipit distinctio vel, voluptatum omnis esse consectetur pariatur similique!</p>
<p>Cupiditate a illum optio, qui ducimus accusamus neque facilis nostrum in commodi nobis excepturi doloremque adipisci obcaecati, laborum quos laudantium aperiam voluptate reprehenderit soluta officiis delectus consequatur. Ratione, adipisci laboriosam.</p>

@defer(on hover){
<figure>
    <img src="https://img.odcdn.com.br/wp-content/uploads/2021/12/mega-man-live-action-capa.jpg" alt="">
</figure>
}
@placeholder {
<p>Imagem do megaman</p>
}
@loading(minimum 3s) {
<p>Loading...</p>
}